# Server Environment
PORT=8000
NODE_ENV=production

# Database
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/<dbname>?retryWrites=true&w=majority

# Stripe Live Mode Keys
STRIPE_SECRET_KEY=sk_live_...
STRIPE_WEBHOOK_SECRET=whsec_...

# Frontend Connection
CLIENT_URL=https://your-production-domain.com

# Email/SMTP Configurations
SMTP_USER=your_smtp_username
SMTP_PASS=your_smtp_password
SMTP_HOST=smtp.your-email-provider.com
SMTP_PORT=587
